.navtop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
}

.navMenu:hover {
    background-color: green;
}
.bodyLeftNav {
    width: 25%;
    height: 100vh;
    background-color: #3d565c;
    margin-top:20px;
}
.navMenuLeftLink {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-weight:bold;

    
}
.linkLeft {
    margin-top: -30px;
    padding: 15px;
}
.navMenuLeftLink:hover {
    background-color: #687d82;
    color: white;
    font-weight: bold;
    padding: 15px;
}