.navtop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
}

.navMenu:hover {
    background-color: green;
}
.bodyLeftNav {
    width: 25%; 
    height: 100vh;
    background-color: #55607d;
}